DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
DB_NAME=ocpp
DB_USER=ocpp
DB_PASSWORD=ocpp
DB_HOST=db
DB_PORT=5432
OCPP_WS_HOST=0.0.0.0
OCPP_WS_PORT=9000
OCPP_HTTP_BASE_URL=http://localhost:9100
